@font-face
{
    font-family: 'droid_sansregular';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: greenyellow;
    background-color: #100c0d;
    background-image: url('../img/space-invaders.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 600px;
    padding-bottom: 200px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

h1, h2, .logo
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

h1 {
    color: yellow;
    font-size: 2em;
}

h1, h1 + p
{
    text-align: center;
}

h2 {
    color: deepskyblue;
}

header {
    padding: 20px;
    text-align: center;
}

header .logo img {
    border: 2px dashed greenyellow;
    padding: 10px;
    margin-right: 40px;
    box-shadow: 4px 4px 10px greenyellow;
}

header nav {
    display: inline-block;
    text-align: left;
}

main {
    clear: both;
    padding: 20px;
}

main .liseret {
   display: none;
}


main #galerie {
    text-align: center;
}

main .grille {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 920px;
    margin: 0 auto;
}

main .grille img {
    width: 300px;
    border: 10px solid deeppink;
    filter: grayscale(100%);
    transition: filter 1s;
}

main .grille img:hover {
    filter: grayscale(0%);
}


footer {
    text-align: center;
}

footer a {
    color: #100c0d;
    text-shadow: 2px 2px 5px deeppink;
}

footer a:hover {
    color: deeppink;
    text-shadow: 1px 1px 5px deeppink;
}
