* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 120%;
    line-height: 1.4;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #00A24B;
    text-decoration: none;
}

a:hover {
    color: #E8A062;
}

h1,
h2
{
    font-family: Georgia, serif;
}

h1 {
    color: #FDC032;
    font-size: 4rem;
    line-height: 0.9;
}

h2 {
    font-size: 2.5rem;
    /*margin-top: 60px;*/
    /*margin-bottom: 20px;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    margin: 60px 0 20px;
}

p {
    line-height: 1.5;
}

/*********** Entête du site ***********/
header {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}

header img {
    max-height: 160px;
}


/*********** Contenu principal ***********/
main {
    padding: 20px;
    margin: 0 auto; /* 0 haut/bas automatique gauche/droite */
    max-width: 600px;
}

main p.intro {
    font-size: 1.3rem;
    font-style: italic;
    text-transform: uppercase;
}

main ul {
    list-style-type: none;
    padding: 0;
    max-width: 95%;
    margin: 40px auto;
}

main li {
    background-color: #E8A062;
    color: #ffffff;
    padding: 10px 40px;
}

main li:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

main li:nth-child(even) {
    background-color: #823922;
    border-top: 5px solid #FDC032;
    border-bottom: 10px solid #00A24B;
}

main li:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: #E8A062;
}

/*********** Pied de page ***********/
footer {
    background-color: #823922;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 20px auto 40px;
    max-width: 400px;
    min-height: 50px;
    border-top: 30px solid #E8A062;
    border-bottom: 30px solid #E8A062;
    border-radius: 30px;
}